@model PostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Blog.cshtml";
    ViewData["PageTitle"] = Model.Title;
    ViewData["PageExcerpt"] = Model.Excerpt;
}
<article>
        <div class="row">
            <textarea id="markdown-editor" class="col-lg-8 col-md-10 mx-auto">@Model.Content</textarea>
            <div id="markdown-content"></div>
        </div>
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="row">
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
                <a asp-action="Index">Back to List</a>
        </div>
    }
</article>

@section scripts{
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
        var render = simplemde.value();
        var renderedHTML = simplemde.options.previewRender(render);
        document.getElementById('markdown-content').innerHTML = renderedHTML;
        simplemde.toTextArea();
        simplemde = null;
        document.getElementById("markdown-editor").remove();
    </script>
}